@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* browser prefix adding  */
.menu-item-has-children.open > a::after, .menu-item-has-children.open > a::before {
  color: #555555;
}

body {
  background: #F8F5F0;
}

.header__mobilebar i, .tpoffcanvas__logo a h5, .tpoffcanvas__close-btn button i {
  color: #fff;
}

.header__menu nav > ul li a, .header__menu nav > ul li ul li a {
  color: #000000;
}

.tpoffcanvas, .tpoffcanvas__header, body,
button,
input,
select,
optgroup,
textarea {
  background: #fff;
}

.menu-item-has-children > a::after, .menu-item-has-children > a::before {
  background: #000000;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Poppins", sans-serif;
}

.header__menu nav > ul li a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6, input::placeholder,
textarea::placeholder,
select::placeholder {
  text-transform: capitalize;
}

.tpoffcanvas__close-btn {
  text-align: center;
}

.header__menu nav > ul li {
  list-style: none;
}

.header__menu nav > ul, *, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  margin: 0;
  padding: 0;
}

.tpoffcanvas {
  visibility: hidden;
  opacity: 0;
}

.tpoffcanvas.opened {
  visibility: visible;
  opacity: 1;
}

.header__menu nav > ul li ul li a {
  display: inline-block;
}

.header__mobilebar {
  display: flex;
  flex-wrap: wrap;
}

.header__menu nav > ul {
  align-items: center;
}

.header__menu nav > ul, .header__mobilebar {
  justify-content: flex-end;
}

.menu-item-has-children > a,
.header__menu nav > ul li {
  position: relative;
}

.menu-item-has-children > a::after, .menu-item-has-children > a::before {
  position: absolute;
  content: "";
}

.header__mobilebar, .header__mobilebar i {
  cursor: pointer;
}

.header__menu nav > ul {
  margin-bottom: 0;
}

.header__menu nav > ul, *, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  margin: 0;
  padding: 0;
}

/*--
    - all Margin 
-----------------------------------------*/
.header__top .left {
  margin-top: 30px;
}

.header__top .right {
  margin-top: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .header__top .right {
    margin-top: 3.75rem;
  }
}

.header__menu nav > ul {
  margin-bottom: 0px;
}

.tpoffcanvas__close-btn {
  margin-right: 30px;
}

.sectin__title h1 {
  margin-block: 13px;
}

/*--
    -all Padding 
-----------------------------------------*/
.tpoffcanvas__logo {
  padding-block: 20px;
}

.header__menu nav > ul li ul li a {
  padding-block: 8px !important;
}

.header__menu nav > ul li ul li a {
  padding-inline: 10px;
}

.header__menu nav > ul li ul li {
  padding: 0px;
}

.header__mobilebar {
  padding: 10px;
}

input,
textarea,
select {
  padding: 15px;
}

/*--
    - wdith, height and line height
-----------------------------------------*/
/*-- width with pixel and %--*/
.menu-item-has-children > a::after {
  width: 10px;
}

.header__mobilebar {
  width: 39px;
}

.tpoffcanvas__close-btn {
  width: 50px;
}

input,
textarea,
select {
  width: 100px;
}

.header__menu nav > ul li ul {
  width: 150px;
}

.header__menu nav > ul li ul li a, .tpoffcanvas {
  width: 100%;
}

/*--height  with pixel and %--*/
.menu-item-has-children > a::before {
  height: 10px;
}

.tpoffcanvas__close-btn {
  height: 50px;
}

/*--line height with pixel--*/
.tpoffcanvas__close-btn {
  line-height: 50px;
}

/*--
    - font-size 
-----------------------------------------*/
/*--
    - text 
-----------------------------------------*/
.sectin__title p {
  font-weight: 400;
}

.sectin__title h1 {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  font-weight: 600;
}

/*--
    - from top, left, bottom, right with %  
-----------------------------------------*/
.menu-item-has-children > a::after {
  top: 50%;
}

.header__menu nav > ul li ul {
  top: 100%;
}

/*--
    - from top, left, bottom, right with pixel  
-----------------------------------------*/
.tpoffcanvas {
  top: 0px;
}

.header__menu nav > ul li ul {
  left: 0px;
}

.tpoffcanvas.opened {
  right: 0px;
}

.tpoffcanvas {
  bottom: 0px;
}

/*--
    -border 1 to 5   
-----------------------------------------*/
.sectin__title h1 {
  border: 4pxsolid #fff;
}

/*--
    -outline 1 to 5  
-----------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: auto !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #555555;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  clear: both;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: #1E1E1E;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1 {
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.25rem;
}

span,
p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #70717B;
  font-family: "Poppins", sans-serif;
}

a {
  color: #0066B3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:visited {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: thin dotted;
  outline: none;
}

a:hover,
a:active {
  outline: 0;
}

img {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

select {
  border: 1px solid #D9D9D9;
}

ul li a.facebook {
  background: #3b5998 !important;
  color: #fff !important;
}
ul li a.instagram {
  background: #e4405f !important;
  color: #fff !important;
}
ul li a.linkedin {
  background: #007bb5 !important;
  color: #fff !important;
}
ul li a.twitter {
  background: #55acee !important;
  color: #fff !important;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
.header__top .left {
  background: red;
}
.header__top .right {
  background: green;
}
@media (min-width: 992px) {
  .header__menu nav > ul {
    display: flex;
  }
}
.header__menu nav > ul li {
  padding: 0.625rem 1.25rem;
}
@media (min-width: 992px) {
  .header__menu nav > ul li {
    padding: 1.25rem 0.625rem;
  }
}
@media (min-width: 992px) {
  .header__menu nav > ul li a {
    padding: calc(1.34375rem + 1.125vw) 0.625rem;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .header__menu nav > ul li a {
    padding: 2.1875rem 0.625rem;
  }
}
.header__menu nav > ul li ul {
  padding-left: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 992px) {
  .header__menu nav > ul li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #000;
    left: 30%;
  }
}
@media (max-width: 991px) {
  .header__menu nav > ul li ul {
    display: none;
  }
}
@media (min-width: 992px) {
  .header__menu nav > ul li ul li a {
    color: #fff;
  }
}
.header__menu nav > ul li:hover ul {
  left: 0;
}
@media (min-width: 992px) {
  .header__menu nav > ul li:hover ul {
    visibility: visible;
    opacity: 1;
  }
}
.header__mobilebar {
  background: green;
  margin-left: auto;
}
.header__mobilebar i {
  font-size: 1.25rem;
}

.tpoffcanvas {
  position: fixed;
  right: -100%;
  z-index: 999999;
  scrollbar-width: none;
  transition: 1s ease-in-out;
  overflow-y: scroll;
}
.tpoffcanvas.opened {
  -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 1s;
}
.tpoffcanvas__close-btn {
  margin-left: auto;
  background: green;
}
.tpoffcanvas__close-btn button {
  background: none;
  border: none;
}
.tpoffcanvas__close-btn button i {
  font-size: 1.25rem;
}
.menu-item-has-children > a::after {
  transform: translateY(-50%);
  right: -54px;
  height: 2px;
}
.menu-item-has-children > a::before {
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  width: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 992px) {
  .menu-item-has-children > a::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    width: 10px;
    height: 2px;
    background: #FFAB00;
  }
  .menu-item-has-children > a::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 2px;
    height: 10px;
    background: #FFAB00;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
@media (min-width: 992px) {
  .menu-item-has-children:hover > a:before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
}
.menu-item-has-children:hover > a::after {
  background: #FFAB00;
}
@media (max-width: 991px) {
  .menu-item-has-children.open > a:before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
